.header-bookimg{
    background-image: url('../img/BookShelf_Header.jpg');
}
.navbar-brand-custom{
    display: flex !important;
}
.navbar-brand-name{
    margin: auto;
    margin-left: 10px;
    font-weight: bold;
    font-size: 26px;
}