html,body{
    height:100%;
}
#root{
    height: 100%;
}
.BookBG{
    background-image: url('../img/BookBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 15px 45px 15px;
}

/*  Contact  */
.head-contact{
    text-align: center;
    padding: 15px;
    color: white;
}
.contact-info{
    background-color: white;
    margin:10px 50px;
    padding: 20px 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 650px;
}
.contact-info-s3{
    background-color: white;
    margin:10px 50px;
    padding: 20px 20px;
    border-radius: 10px;
    margin: auto;
    /* min-width: 700px; */
    max-width: 650px;
}